.card{
  background:rgba(20, 20, 20, 0);
  height: 350px;
  width: 260px;
  margin: auto;
  border-radius: 4px;
  display: grid;
  grid-template-columns:  repeat(6, 1fr) ;
  grid-template-rows:  repeat(6,1fr);
  font-family: 'Dongle', sans-serif;
  color: rgb(12, 11, 11);
  box-shadow: 0px 0px 5px 1px rgb(26, 22, 22);
}
 .card:hover{
  color: rgb(248, 240, 240);
  background:rgba(20, 20, 20, 0.767);
 }


.img{
  background: azure;
  width: 150px;
  height: 170px;
  grid-column: 2/6;
  grid-row: 1/4;
  margin: auto;
  border-radius: 5px;
}
.imagen{
  width: 150px;
  height: 170px;
  border-radius: 5px;
  border: 2px solid #000;
  object-fit: fill;
  object-position: center center;
}
.title{
  align-self: center;
  margin: auto;
  grid-column: 1/7;
  grid-row: 4/5;
  font-size: 15px;
  
}
.title h4{
  
  text-decoration-line: none;
  border-bottom: none;
}
.temp{
  align-self: center;
  margin: auto;
  grid-column: 1/7;
  grid-row: 5/6;
  font-size: 12px;
}
.peso{
  align-self: center;
  margin: auto;
  grid-column: 1/7;
  grid-row: 6/7;
}
.title ion-icon{
  text-align: center;
  color: black;
  margin-right: 12px;
  width: 30px;
  height: 30px;
}
